<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title i18n>Accueil</title>
  <!-- Ajout de Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Styles personnalisés -->
  <style>
    /* Ajoutez ici vos styles personnalisés */
    /* Fixer le footer en bas de la fenêtre */
    footer {
      bottom: 0;
      width: 100%;
    }
  </style>
</head>
<body>

<!-- Entête -->
<header class="bg-light p-3">
  <div class="container mt-5 text-center">
    <h1 i18n>Discover a World of Amazing Products</h1>
  </div>
</header>

<!-- Contenu principal -->
<div class="container mt-5">
  <p class="text-center" i18n>
    Welcome to our e-commerce platform where you can explore a wide range of high-quality products. From electronics
    Start shopping today and experience the convenience of online shopping with us!
  </p>
</div>

<!-- Contenu supplémentaire pour remplir l'espace -->
<div class="container-fluid bg-white py-5">
  <div class="container">
  </div>
</div>
</body>
</html>
